<link rel="stylesheet" type="text/css" href="components/cardList/styles.css">

<div class="row cardList">
    <card class="col-md-4" card="{title: 'oizinho', text: 'tudo bem', link: 'tomara', imageLink:'http://x.annihil.us/u/prod/marvel/i/mg/3/40/4bb4680432f73/portrait_medium.jpg'}"></card>

    <card class="col-md-4" card="{title: 'oizinho', text: 'tudo bem', link: 'tomara', imageLink:'http://x.annihil.us/u/prod/marvel/i/mg/3/40/4bb4680432f73/portrait_medium.jpg'}"></card>

    <card class="col-md-4" card="{title: 'oizinho', text: 'tudo bem', link: 'tomara', imageLink:'http://x.annihil.us/u/prod/marvel/i/mg/3/40/4bb4680432f73/portrait_medium.jpg'}"></card>

</div>