.jumbotron {
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: #FFF;
}

.fixed-top {
    margin-bottom: 20px;
}

.container-fluid{
    padding: 0px;
}

.navbar{
    margin-bottom: 0px;
}

.footer {
  padding:10px;
}

html{
  height: 100%;
}
body {
  min-height: 100%;
}
